version: "3.9"

services:
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped

    volumes:
      - ./data:/data

    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: 12345678

    command: server /data --console-address ":9001"

    ports:
      - "9000:9000"
      - "9001:9001"

