version: "3.9"

services:
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped

    volumes:
      - ./data:/data

    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: "12345678"
      MINIO_SERVER_URL: "http://147-93-98-89.nip.io:9000"
      MINIO_BROWSER_REDIRECT_URL: "http://147-93-98-89.nip.io:9001"


    command: server /data --console-address ":9001"

    ports:
      - "9001:9001"
      - "9000:9000"

